#  all the required libraries will be written here so all can be installed using one command

tensorflow
pandas
dvc
notebook
numpy
matplotlib
seaborn
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
Flask
Flask-Cors

-e . 
